# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[*.py]
tab_width = 4

[*.{js,ts,tsx,json,yml,yaml,toml,md}]
indent_size = 2
tab_width = 2

[.whitesource]
indent_size = 2
