*py text eol=crlf
*sh text eol=lf
*yml text eol=crlf
*yaml text eol=crlf
*toml text eol=crlf
*json text eol=crlf
*txt text eol=crlf

restyled.yml text eol=lf
.whitesource text eol=lf
setup.cfg text eol=crlf
renovate.json text eol=lf
