[FORMAT]

max-line-length=300

[MESSAGES CONTROL]

disable=
    attribute-defined-outside-init,
    invalid-name,
    missing-docstring,
    protected-access,
    too-few-public-methods,
    disallowed-name

[MASTER]

init-hook='import sys; sys.path.append(".venv/Lib/site-packages/")'